.genre-list {
  display: grid;
}
@media (min-width: 402px) {
  .genre-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .genre-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .genre-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .genre-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
